/*!
 * DevExpress Gantt (dx-gantt)
 * Version: 4.1.54
 * Build date: Fri Apr 26 2024
 *
 * Copyright (c) 2012 - 2024 Developer Express Inc. ALL RIGHTS RESERVED
 * Read about DevExpress licensing here: https://www.devexpress.com/Support/EULAs
 */
.dx-gantt-tsac {
  position: relative;
  overflow: hidden;
  background-color: #fcfcfc;
  z-index: 6;
}
.dx-gantt-tsa {
  position: relative;
}
.dx-gantt-hb {
  position: absolute;
  left: 0;
  height: 0;
  z-index: 6;
}
.dx-gantt-vb {
  position: absolute;
  top: 0;
  width: 0;
  z-index: 6;
}
.dx-gantt-tm,
.dx-gantt-ti,
.dx-gantt-tc {
  position: absolute;
  top: 0;
  z-index: 6;
}
.dx-gantt-tm:before,
.dx-gantt-ti:before,
.dx-gantt-tc:before {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  margin-left: -3px;
  z-index: 6;
  height: 100%;
}
.dx-gantt-si {
  position: absolute;
  top: 0;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dx-gantt-taskWrapper,
.dx-gantt-milestoneWrapper,
.dx-gantt-taskResWrapper {
  position: absolute;
  z-index: 10;
  vertical-align: top;
  white-space: nowrap;
}
.dx-gantt-taskWrapper > div {
  vertical-align: top;
}
.dx-gantt-taskResWrapper {
  pointer-events: none;
}
.dx-gantt-task {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
.dx-gantt-tPrg {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
}
.dx-gantt-taskTitle,
.dx-gantt-taskRes {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dx-gantt-titleIn {
  position: relative;
  width: 100%;
  z-index: 1;
}
.dx-gantt-titleOut {
  display: inline-block;
  width: 500px;
  margin-left: -500px;
  text-align: right;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.dx-gantt-taskRes {
  display: inline-block;
  overflow: hidden;
}
.dx-gantt-task,
.dx-gantt-taskTitle,
.dx-gantt-titleOut,
.dx-gantt-taskRes {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.dx-gantt-sel {
  position: absolute;
  z-index: 5;
}
.dx-gantt-task.dx-gantt-milestone {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0 !important;
  padding: 0;
}
.dx-gantt-task.dx-gantt-smallTask {
  text-align: center;
}
.dx-gantt-task.dx-gantt-smallTask .dx-gantt-titleIn {
  padding: 0;
  visibility: hidden;
}
.dx-gantt-conn-h,
.dx-gantt-conn-v,
.dx-gantt-arrow {
  position: absolute;
  z-index: 9;
}
.dx-gantt-conn-v {
  top: 0;
  width: 4px;
  cursor: pointer;
  border-left-width: 1px;
  border-left-style: solid;
}
.dx-gantt-conn-v.active {
  border-left-width: 2px !important;
}
.dx-gantt-conn-h {
  left: 0;
  height: 4px;
  cursor: pointer;
  border-top-width: 1px;
  border-top-style: solid;
}
.dx-gantt-conn-h.active {
  border-top-width: 2px !important;
}
.dx-gantt-arrow {
  width: 0;
  height: 0;
}
.dx-gantt-arrow.dx-gantt-TA {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}
.dx-gantt-arrow.dx-gantt-RA {
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.dx-gantt-arrow.dx-gantt-BA {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
.dx-gantt-arrow.dx-gantt-LA {
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.dx-gantt-nwi {
  position: absolute;
  z-index: 3;
}
.dx-gantt-altRow {
  position: absolute;
  z-index: 2;
}
.dx-gantt-task-edit-wrapper {
  padding-left: 1px;
}
.dx-gantt-task-edit-wrapper,
.dx-gantt-task-edit-wrapper-successor {
  position: absolute;
  z-index: 11;
}
.dx-gantt-task-edit-wrapper-custom {
  background-color: rgba(90, 84, 84, 0.3);
}
.dx-gantt-task-edit-wrapper-custom.hide-updating {
  background-color: transparent;
  pointer-events: none;
}
.dx-gantt-task-edit-wrapper.milestone .dx-gantt-task-edit-frame,
.dx-gantt-task-edit-wrapper.hide-updating .dx-gantt-task-edit-frame {
  border: none !important;
}
#dx-gantt-ta.ms-pointer-active,
#dx-gantt-ta.ms-pointer-active .dx-gantt-task-edit-frame,
#dx-gantt-ta.ms-pointer-active .dx-gantt-task-edit-frame div {
  -webkit-appearance: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}
.dx-gantt-task-edit-wrapper.milestone .dx-gantt-task-edit-progress,
.dx-gantt-task-edit-wrapper.milestone .dx-gantt-task-edit-start,
.dx-gantt-task-edit-wrapper.milestone .dx-gantt-task-edit-end,
.dx-gantt-task-edit-wrapper.move .dx-gantt-task-edit-progress,
.dx-gantt-task-edit-wrapper.move .dx-gantt-task-edit-dependency-r,
.dx-gantt-task-edit-wrapper.move .dx-gantt-task-edit-dependency-l,
.dx-gantt-task-edit-wrapper.hide-dependency .dx-gantt-task-edit-dependency-r,
.dx-gantt-task-edit-wrapper.hide-dependency .dx-gantt-task-edit-dependency-l,
.dx-gantt-task-edit-wrapper.hide-updating .dx-gantt-task-edit-progress,
.dx-gantt-task-edit-wrapper.hide-updating .dx-gantt-task-edit-start,
.dx-gantt-task-edit-wrapper.hide-updating .dx-gantt-task-edit-end {
  display: none;
}
.dx-gantt-task-edit-frame,
.dx-gantt-task-edit-frame-successor {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
}
.dx-gantt-task-edit-frame {
  border: 1px solid #336699;
}
.dx-gantt-task-edit-progress {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0 6px 9px 6px;
  border-color: transparent transparent #336699 transparent;
  z-index: 10;
}
.dx-gantt-task-edit-progress:before {
  content: "";
  width: 10px;
  height: 4px;
  background-color: #fcfcfc;
  position: absolute;
  bottom: -14px;
  left: -6px;
  border: 1px solid #336699;
  border-top: none;
}
.dx-gantt-task-edit-progress div {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent white transparent;
  z-index: 9;
  top: 2px;
  left: -5px;
  pointer-events: none;
}
.dx-gantt-task-edit-tooltip {
  position: absolute;
  font-family: sans-serif;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 16px;
  font-size: 12px;
  border-radius: 2px;
  display: none;
  z-index: 12;
}
.dx-gantt-task-edit-tooltip-default {
  padding: 6px;
  color: #fcfcfc;
  background-color: rgba(0, 0, 0, 0.64);
}
.dx-gantt-task-edit-tooltip-after:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.64);
  top: -6px;
  position: absolute;
}
.dx-gantt-task-edit-tooltip-before:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.64);
  bottom: -6px;
  position: absolute;
}
.dx-gantt-task-edit-tooltip .dx-gantt-task-title {
  padding-bottom: 3px;
}
.dx-gantt-task-edit-tooltip .dx-gantt-status-time tr td:first-child {
  padding-right: 3px;
}
.dx-gantt-task-edit-tooltip .dx-gantt-status-time tr td:first-child,
.dx-gantt-task-edit-tooltip .dx-gantt-status-time span:first-child,
.dx-gantt-task-edit-tooltip .dx-gantt-task-title {
  font-weight: 600;
}
.dx-gantt-task-edit-dependency-r,
.dx-gantt-task-edit-successor-dependency-r,
.dx-gantt-task-edit-dependency-l,
.dx-gantt-task-edit-successor-dependency-l {
  position: absolute;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 5px;
  width: 10px;
  height: 10px;
  background: #fcfcfc;
  border: 1px solid #336699;
  cursor: pointer;
}
.dx-gantt-task-edit-dependency-r,
.dx-gantt-task-edit-successor-dependency-r {
  left: -10px;
}
.dx-gantt-task-edit-dependency-l,
.dx-gantt-task-edit-successor-dependency-l {
  right: -10px;
}
.dx-gantt-task-edit-dependency-r.dx-gantt-edit-touch,
.dx-gantt-task-edit-successor-dependency-r.dx-gantt-edit-touch,
.dx-gantt-task-edit-dependency-l.dx-gantt-edit-touch,
.dx-gantt-task-edit-successor-dependency-l.dx-gantt-edit-touch {
  top: 3px;
  width: 11px;
  height: 11px;
}
.dx-gantt-task-edit-dependency-r.dx-gantt-edit-touch,
.dx-gantt-task-edit-successor-dependency-r.dx-gantt-edit-touch {
  left: -15px;
}
.dx-gantt-task-edit-dependency-l.dx-gantt-edit-touch,
.dx-gantt-task-edit-successor-dependency-l.dx-gantt-edit-touch {
  right: -15px;
}
.dx-gantt-task-edit-start,
.dx-gantt-task-edit-end {
  position: absolute;
  height: 100%;
  width: 5px;
  top: 0;
  cursor: col-resize;
}
.dx-gantt-task-edit-end {
  right: 0;
}
.dx-gantt-task-edit-dependency-line {
  height: 2px;
  background-color: #336699;
  position: absolute;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  z-index: 9;
}
.dx-gantt-touch-action {
  -ms-touch-action: none;
      touch-action: none;
}

